body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: rgb(218, 223, 228);
}

.grid {
    position: absolute;
    width: 780px; 
    height: 500px; 
    border: 2px solid black; 
    margin-top: 120px;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-image: linear-gradient(to right bottom, #c115e9, #a612c8, #8b0ea8, #720b89, #59086b);
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-image: linear-gradient(to right bottom, #6fbaec, #66abd9, #5d9cc6, #558db3, #4c7fa1);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.623);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.btn {
    margin-top: 10px;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(151, 15, 182, 0.837);
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}